name: Tests
on:
  push:
    branches: [main]
  pull_request:
  schedule:
    # 16:21 UTC on Tuesdays
    - cron: "21 16 * * TUE"
  repository_dispatch:
    types: [tests]

env:
  DOCKER_BUILDKIT: 1
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: docker build . --pull -f varia/Dockerfile.tests --tag ego-build
      - name: Test suite
        # --include-ignored to ensure CI is running all tests
        run: docker run --rm ego-build cargo test --color=always --all-targets -- --include-ignored
      - name: Clippy lints
        run: docker run --rm ego-build cargo clippy --color=always --all-targets --all-features -- --no-deps -D warnings
      - name: rustfmt
        run: docker run --rm ego-build cargo fmt -- --color=always --check
